* { /*CSS reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.footer {
  text-align: center;
  font-size: small;
  margin-top: 10p;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}